{% extends 'front/base.html' %}
{% load bootstrap3 %}

{% block content %}

  <div class="signup colored-background">
    <h1><span class="text__switcher">Patient Profile</span></h1>
    <p><span class="text__switcher">Patient Profile Information</span></p>
    <form method="post" class="form custom-form" enctype = "multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}      
          <div class="form-group form-group--last" >
            <button type="submit" class="center-box">
              <span class="text__switcher">Submit</span>
            </button>
          </div>
        {% endbuttons %}
    </form>
 </div>

{% endblock %}
