{% extends 'front/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="signup colored-background">
<h1><span class="text__switcher">Change Password</span></h1>
  {% if validlink %}
    <form method="post" class="form custom-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}      
          <div class="form-group form-group--last" >
            <button type="submit" class="center-box">
              <span class="text__switcher">Change Password</span>
            </button>
          </div>
        {% endbuttons %}
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}