{% extends 'dashboard/base.html' %}

{% block content %}

<div id="wrapper">
	<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
				  <div class="container">
					<h2>Profile</h2>
					<img src = "{{ user.doctor.getimg }}" width = "240"></img>
					<p>User Name : {{user.username}}</p>
					<p>Full Name :{{user.get_full_name}}</p>
					<p>Email : {{user.email}}</p>
					<p>You are from {{ user.doctor.address }}</p>
					<p>Your Birth Date : {{ user.doctor.birth_date }}</p>
				  </div>
			</div>
  		</div>
  	</div>
</div>

{% endblock %}
